
<head>
  <title>Welcome to Festival DApp</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
</head>
<body class="container">
  <h1>A Festival Ticket Application</h1>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
       
        <th>Ticket Type</th>
        
      </thead>
      <tbody>
        <tr>
          <td>VIP Ticket - 160 CHR <b>( Includes backstage meetings with singers, special cocktails )</b>
          <br><input id="vipBuyerAddress" type="text" name="vipBuyerAddress" value="Address" required ><br><input id="ticketBuyerPassword" type="text" name="ticketBuyerPassword" value="Password" required ><br>
          <input id="redirectToUser" style="margin-top: 10px" type="button" onclick="window.location='http://localhost:8080/mainInfo/buyVIPTicket/'+document.getElementById('vipBuyerAddress').value + '/'+document.getElementById('ticketBuyerPassword').value" value="Buy VIP Ticket">
        </tr>
        <tr>
          <td>Standart Ticket - 100 CHR <b>( Includes nothing. You poor losers.) </b>
          <br><input id="standartBuyerAddress" type="text" name="standartBuyerAddress" value="Address" required ><br><input id="standartTicketBuyerPassword" type="text" name="standartTicketBuyerPassword" value="Password" required ><br>
          <input id="redirectToUser" style="margin-top: 10px" type="button" onclick="window.location='http://localhost:8080/mainInfo/buyStandartTicket/'+document.getElementById('standartBuyerAddress').value + '/'+document.getElementById('standartTicketBuyerPassword').value" value="Buy Standart Ticket">
          </td>
        </tr>
      </tbody>
    </table>
    <li>
      <p> Your Account Address = <%= userAddress %> </p>
    </li>
    <li>
      <p> Participants Quota =  <%= eventQuota %> </p>
    </li>
    <li>
      <p> Total Participants = <%= totalParticipants %> </p>
    </li>
    <li>
      <p> My CHR Balance = <%= userBalance %> </p>
    </li>
    <li>
      <p> My Wei Balance = <%= etherBalance %> </p>
    </li>
    <li>
      <p> 500 Wei = 1 CHR Token </p>
      <input id="buyAmount" type="text" name="buyamount" value="Amount" required ><br>
      <br><input id="tokenBuyerAddress" type="text" name="tokenBuyerAddress" value="Address" required ><br><input id="tokenBuyerPassword" type="text" name="tokenBuyerPassword" value="Password" required ><br>
      <input id="buyedToken" style="margin-top: 10px" type="button" onclick="window.location='http://localhost:8080/mainInfo/buyCHRTokens/'+document.getElementById('buyAmount').value + '/'+document.getElementById('tokenBuyerAddress').value + '/'+document.getElementById('tokenBuyerPassword').value" value="Buy CHR Tokens">
    </li>
    <li>
      <p> 1 CHR Token = 300 Wei </p>
      <input id="sellAmount" type="text" name="sellamount" value="Amount" required ><br>
      <br><input id="tokenSellerAddress" type="text" name="tokenSellerAddress" value="Address" required ><br><input id="tokenSellerPassword" type="text" name="tokenSellerPassword" value="Password" required ><br>
      <input id="buyedToken" style="margin-top: 10px" type="button" onclick="window.location='http://localhost:8080/mainInfo/buyCHRTokens/'+document.getElementById('buyAmount').value + '/'+document.getElementById('tokenSellerAddress').value + '/'+document.getElementById('tokenSellerPassword').value" value="Sell CHR Tokens">
    </li>
    <!-- <li>
      <p> Change The Quota </p>
      <input type="number" id="changeQuota" />
      <a href="www.google.com">www.google.com</a>
    </li> -->
  </div>
</body>